@media (max-width: 991px) {
  .item-details__actions {
    max-width: 670px !important;
    width: 100% !important;
  }
  .item__map {
    position: absolute !important ;
    width: 95px !important;
    background: black !important;
    height: 70px !important;
    top: 45px !important;
    right: -4px !important;
  }
  .border-icon img {
    padding: 4px !important;
    font-size: 1rem !important;
    width: 25px !important;
  }
  .fix-right {
    position: absolute;
    right: -113px !important;
    top: -8px !important;
  }
}
